@{
    ViewBag.Title = "Hvað er textis";
}
<h2>@ViewBag.Title</h2>
<h3>Hér er hægt að búa til texta fyrir hreyfimyndir</h3>

<p>textis byrjaði upphaflega sem nemandaverkefni í Háskólanum í Reykjavík.
    Fljótlega komst kerfið í almenna umferð og er nú sérstaklega vinsælt meðal smaladrengja.
    Sennilega vegna þess hvað þeim leiðist mikið að smala og kúra þess í stað í dimmum og rökum hellum sé þess einhver kostur.
    Þar stara þeir á iPad horfandi á myndir en heyra ekkert í þeim fyrir helvítis jarminu í rollunum.
    Þessvegna eru þeir að þýða allskonar dótarí til að geta horft á og lesið.

    </p><br />
Nemendur í hóp 13:
<ul> 
    <li>
        Andri Páll Pálsson
    </li>
    <li>
        Ásrún Sigurjónsdóttir
    </li>
    <li>
        Bjarki Kristinsson
    </li>
    <li>
        Gunnhildur Finnsdóttir
    </li>
    <li>
        Hrannar Már Ágústsson
    </li>
    <li>
        Magnús Kristinsson
    </li>
</ul>
Kennari: <br />
Daníel Brandur Sigurgeirsson<br />
<br />
Verkefnakennari:<br />
Patrekur Patreksson