@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Leiðbeiningar</h2>
<div class="instruction"> 
    <h4 class="dropdown_faq_header">Oh, I don't have time for this.<span class="glyphicon glyphicon-chevron-up"></span></h4>

    <p class="dropdown_faq_answer">
        I have to go and buy a single piece of fruit with a coupon and then return
        it, making people wait behind me while I complain.
    </p>
    

    <h4 class="dropdown_faq_header">Listen to me, you pompous frauds!<span class="glyphicon glyphicon-chevron-up"></span></h4>

    <p class="dropdown_faq_answer">
        If I'm going down, I'm taking you all with me. Dean Vernon, I know the truth. 
        It was you driving your hovercar last night, not your horse! Dean Epsilon, 
        I know all about your Department of Pool Boy Studies. And Doctor Wernstrom... Wernstrom! 
    </p>

    <h4 class="dropdown_faq_header">Oh, I don't have time for this.<span class="glyphicon glyphicon-chevron-up"></span></h4>

    <p class="dropdown_faq_answer">
        I have to go and buy a single piece of fruit with a coupon and then return
        it, making people wait behind me while I complain.
    </p>


    <h4 class="dropdown_faq_header">Listen to me, you pompous frauds!<span class="glyphicon glyphicon-chevron-up"></span></h4>

    <p class="dropdown_faq_answer">
        If I'm going down, I'm taking you all with me. Dean Vernon, I know the truth.
        It was you driving your hovercar last night, not your horse! Dean Epsilon,
        I know all about your Department of Pool Boy Studies. And Doctor Wernstrom... Wernstrom!
    </p>
   
</div>