@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Leiðbeiningar</h2>
<div class="instruction"> 
    <h4 class="dropdown_faq_header">Hvernig á að sækja textaskrá?<span class="glyphicon glyphicon-chevron-up"></span></h4>

    <p class="dropdown_faq_answer">
       Notaðu leitargluggann til þess að leita að því sem þú vilt finna. ATH að það er líka hægt að leita eftir flokkum.
    </p>

    <h4 class="dropdown_faq_header">Hvernig get ég notað textaskrárnar?<span class="glyphicon glyphicon-chevron-up"></span></h4>

    <p class="dropdown_faq_answer">
       Það er hægt að tengja þær við myndbönd á Youtube, Netflix og á fleiri stöðum.
    </p>
    
    <h4 class="dropdown_faq_header">Ég finn ekki það sem ég er að leita að<span class="glyphicon glyphicon-chevron-up"></span></h4>
    
    <p class="dropdown_faq_answer">
       Þá getur þú sent inn ósk um að það sem þú vilt sjá verði búið til.
    </p>

    <h4 class="dropdown_faq_header">Hvernig get ég búið til .srt skrá?<span class="glyphicon glyphicon-chevron-up"></span></h4>

    <p class="dropdown_faq_answer">
        Aðeins innskráðir notendur geta tekið þátt í að búa til textaskrár. Skráðu þig inn strax í dag, þetta er auðveldara en þú heldur :)
    </p>
 
</div>