@{
    ViewBag.Title = "Skjátextar.is";
}

<div class="jumbotron">
    <h1>Skjátextar.is</h1>
   @using (Html.BeginForm())
        {
            <p>
                @Html.TextBox("SearchString", "", new { placeholder="Sláðu inn titill skjátexta ", style = "width:780px" }) <input type="submit" value="Leita" />
            </p>
        }
</div>
<div class="row">
    <h2>Fyrstu skrefin</h2>
    <p>Smelltu á örina til að fá nánari upplýsingar, einnig erum við með @Html.ActionLink("Algengar Spurningar", "faq", "Home") fyrir meiri aðstoð.</p>
    <br />
    <div class="col-lg-4">
        <p class="dropdown_faq_header">Hvernig byrja ég? <span id="dropdown_faq" class="glyphicon glyphicon-chevron-down" /></p>
        <div class="dropdown_faq_answer" id="dropdown_faq_short_answer">
            <p>texti 1</p>
        </div>
    </div>
    <div class="col-lg-4">
        <p class="dropdown_faq_header">Óska eftir Skjátexta? <span id="dropdown_faq" class="glyphicon glyphicon-chevron-down" /></p>
        <div class="dropdown_faq_answer" id="dropdown_faq_short_answer">
            <p>Finnur þú ekki skjátextann sem þú ert að leita af? Ekkert mál eina sem þú þarft að gera er að setja inn textabeiðni og þá geta aðrir notendur búið hann til fyrir þig ;)</p>
        </div>
    </div>
    <div class="col-lg-4">
    <p class="dropdown_faq_header">Senda inn nýjan Skjátexta <span id="dropdown_faq" class="glyphicon glyphicon-chevron-down" /></p>
        <div class="dropdown_faq_answer" id="dropdown_faq_short_answer">
            <p>texti 3</p>
        </div>
</div>
</div>