@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 hidden ="hidden">textis</h1>
    <div class="row text-center">
        <img width="350" height="140" alt="Logo textis" src="/pics/logo.jpg" align="middle">
    </div>
        <br />

        @using (Html.BeginForm("Index", "Project", FormMethod.Get))
        {
            <div class="search_box">
                @Html.DropDownList("category", "Allir flokkar")
                @Html.TextBox("SearchString", "", new { placeholder = "Titill myndar", autofocus = "autofocus" })
                <input id="search_string_button" type="submit" value="Leita" />
            </div>
        }
    </div>
