body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.foot{
    text-align: center;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 70%;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
C:\Users\Gunnhildur\Source\Repos\newtextis\textis\Views\Home\Index.cshtml}

.validation-summary-valid {
    display: none;
}

/*our changes:*/

h1{
    text-align: center;
}

.search_box{
    text-align: center;
}

.search_box #SearchString{
    width: 100%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search_box #search_string_button{
    /*border:1px solid;*/
    width:80px;
    padding:5px 25px;
    background: #0096fd;
    border:1px solid #0096fd;
    border-radius: 6px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
}


h2{
    text-align: center;
}

h4{
    color: #0096fd;
}

.instruction{
    cursor: pointer;
}
