body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Centering the footer */
.footer {
    text-align: center;
}

/*Styling the faqs*/
.faqs { position:relative; }
.faqs h4	{ cursor:pointer; }
.faqs h4.active	{ color:#d74646; }
.faqs div   { position:relative; }
.faqs div p	{ padding:0; margin-bottom:15px; }

/*Styling for the search field*/

/*Auto hide setnings / faq */
.dropdown_faq_header{
    font-size: 1.5em;
    cursor: pointer;
}
.glyphicon-chevron-down { color: black }
.glyphicon-chevron-up { color: red }



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 780px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}