body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.foot{
    text-align: center;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 70%;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*our changes:*/

h1{
    text-align: center;
}

.search_box{
    text-align: center;
}

.search_box #SearchString{
    width: 100%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search_box #search_string_button{
    /*border:1px solid;*/
    width:80px;
    padding:5px 25px;
    background: #0096fd;
    border:1px solid #0096fd;
    border-radius: 6px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
}

h2{
    text-align: center;
}

h4{
    color: #0096fd;
}

.instruction{
    cursor: pointer;
}

#text_request{
    padding: 1em;
    font-size: 20px;
}

.subsection_edit_page{
    width: auto;
}

.subtitle_display{
    align-items: center;
    text-align: center;
    align-content: center;
    border: 0px solid black;
    height: 500px;
    width: 1140px;
    overflow:auto;
}

.subtitle_display div{
    height: auto;
	width: auto;
	border: 0px solid black;
	display:inline-block;
}

#subtitle_en{
    /*background-color: #FF0000;*/
}

#subtitle_is{
    /*background-color: #0000FF;*/
}

#subtitle_time{
    /*background-color: #FFD700;*/
}

.edit_textline{
    width: 410px;
}

.edit_timeline{
    width: 110px;
}

.edit_header{
    font-weight: bold;
}

.bleh{
    width: auto;
}

.subtitle_tools{
    border: 1px solid black;
    margin: 10px;
    
}
.subtitle_tools div{
    text-align: center;
    margin:0 auto;
    width: 200px;
    border: 1px solid black;
    display: inline-block;
}

.subtitle_tools #edit_upload{
    width: 300px;
}

.button{
    color: white;
    width:auto;
    background: #0096fd;
    border:1px solid #0096fd;
    border-radius: 6px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
}

.comment_section{
    border:0px solid black;
    margin: auto;
    margin-top: 50px;
}